<webring-banner>
    <p>Membro della balotta di <a href="{{ meta.url }}">{{ meta.title }}</a> webring</p>
    <a href="{{ meta.url }}/prev">Precedente</a>
    <a href="{{ meta.url }}/random">Random</a>
    <a href="{{ meta.url }}/next">Successivo</a>
</webring-banner>
<script async src="{{ meta.url }}/embed.js" charset="utf-8"></script>
