---
layout: base
---

{% include 'webring.njk' %}

<div class="markdown">
    <h2>Cos'è sta roba?</h2>
    <p>
        È una prova di <a href="https://it.wikipedia.org/wiki/Webring">webring</a>. In italiano potremmo dire "anello di siti" (marò che brutto). 
        In breve sono una serie di siti che hanno un tratto comune, che condividono un tema, che sono connessi tra loro.
        Ogni sito membro dell'anello include un badge sul proprio sito con i link al sito successivo e precedente.
        Negli anni 90 era figo. In america.<br>
        Un po' una nicchia, ecco.
    </p>

    <h2>Come farne parte</h2>
    <p>
        Per iscriversi a questo webring, devi <a href="{{ meta.repo }}/compare">aprire una pull request</a> 
        e fornire il nome e l'URL del tuo sito. Se hai anche un feed RSS, puoi dare anche quello.
    </p>
    <p>
        Se non hai un account Github o non sai cosa sia un pull request – cosa assolutamnte plausibile –
        puoi usare la form qui sotto per iscriverti. 
        Gli amministratori riceveranno una notifica e valuteranno la candidatura. 
        Dovrai anche spedire 5€ a ogni iscritto. <br>
        Scherzo.
    </p>

    {% include 'signupform.njk' %}

    <h2>Aggiungi il banner</h2>
    <p>
        Una volta che ti sei iscritto al webring, copia questo pezzetto di codice nel tuo sito:
    </p>

    {% highlight 'html' %}{% include 'snippet.njk' %}{% endhighlight %}

    <p>
        Visualizzerà questo banner che contiene i link agli altri siti membri :
    </p>

    {% include 'snippet.njk' %}

    <h2>Magari vuoi farti un webring tuo?</h2>
    <p>
        Se vuoi fare un tuo webring la cosa più comoda è fare un fork di 
        <a href="https://github.com/maxboeck/webring">questo progetto</a> su Github 
        e seguire le istruzioni sul README.
    </p>

    {% include 'github.njk' %}
</div>